.table-rate-name {
    display: flex;
    justify-content: space-between;
    border: solid #71c7ff 2px;
    padding: 8px;
    border-radius: 12px;
    background-color: #fff;
}
.table-rate-name a {
    /* color: black; */
    text-decoration: none;
}
.table-rate-complete-name {
    color: black;
}
.table-rate-complete-name span {
    color: #522;
    margin-left: 8px;
}